extends layout

block content
	form(action='/resetpassword', method='post')
		input(type='hidden', name='accountId', value='#{locals.accountId}')
		p
			label(for='paswword') New Password:
			input#password(type='password', name='password')	
		p
			input(type='submit')
